<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@System.Configuration.ConfigurationManager.AppSettings["PlatformName"]</title>
    <meta name="viewport" content="width=device-width" />

    <script src="/js/jquery-1.10.2.min.js"></script>
    <link href='@Url.Content("~/Content/oa/style/common.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/easyui/jquery-easyui-1.4.1/themes/default/easyui.css")'
          rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/easyui/jquery-easyui-1.4.1/themes/icon.css")'
          rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/Content/easyui/jquery-easyui-1.4.1/jquery.easyui.min.js")'
            type="text/javascript"></script>
    <script src='@Url.Content("~/Content/easyui/jquery-easyui-1.4.1/locale/easyui-lang-zh_CN.js")'
            type="text/javascript"></script>
    <script src='@Url.Content("~/Content/oa/scripts/common.js")' type="text/javascript"></script>
    @RenderSection("header", required: false)
</head>
<body>
    @RenderSection("body", required: true)
    @RenderSection("scripts", required: false)
</body>
</html>


